# Virtual environment
venv/
aitext/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (optional)
data/raw/
data/processed/

# Models
models/

# Results
results/

# OS files
.DS_Store
Thumbs.db